# Ignore the build output directories
.next/
out/

# Ignore the node_modules directory
node_modules/

# Ignore environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore log files
*.log

# Ignore coverage directory
coverage/

# Ignore static files
public/

# Ignore TypeScript build output
dist/
*.tsbuildinfo

# Ignore specific config files (if you don't want to format them)
next.config.js
babel.config.js
jest.config.js

# Ignore miscellaneous files
.DS_Store
